* {
    font-family: 'Roboto Flex', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pokemons li {
    display: flex;
    flex-direction: column;    

    margin: 0.2rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    color: azure;
    border-radius: 0.5rem;
}

.pokemons img {
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
}
